[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
jupyter = "*"
notebook = "*"
black = "*"
pillow = "*"
pandas = "*"
matplotlib = "*"
numpy = "*"
google-cloud-bigquery = "*"
requests = "*"
bs4 = "*"
lxml = "*"
openpyxl = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.11"
